body {
      font-family: "Lato", sans-serif;
      width: 80vw;
      margin: 0 auto;
      /* background-color: black; */
    }

    .first-h1 {
      color: white;
      text-align: center;
      background-color: #3f3f3f;
      padding: 20px;
      margin: 0;
    }

    img {
      margin-bottom: -40px;
      margin-top: 10px;
    }

    .tablink {
      background-color: #3f3f3f;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
      width: 6.25%;
    }

    .tablink:hover {
      background-color: #777;
    }

    /* Style the tab content */
    .tabcontent {
      color: white;
      display: none;
      padding: 50px;
      text-align: center;
      /* height: 500px; */
    }

    h1 {
      margin-top: -10px;
    }

    p {
      margin-left: 200px;
      margin-right: 200px;
      font-size: 16px;
      text-align: center;
      line-height: 1.5;
    }

    div[id*="NT"] {
      background-color: red;
    }

    div[id*="NF"] {
      background-color: green;
    }

    div[id*="S"][id*="J"] {
      background-color: blue;
    }

    div[id*="S"][id*="P"] {
      background-color: orange;
    }

    @media (max-width: 1200px) {
      p {
        margin-left: 0;
        margin-right: 0;
      }

      .tablink {
        font-size: .7rem;
        padding: 10px;
      }
    }

    @media (max-width: 800px) {
      .tablink {
        width: 100%;
        float: none;
        font-size: 100%;
      }
    }

    @media (max-width: 600px) {
      body {
        width: 100%;
      }

      img {
        width: 100%;
      }

      div first-of-type:p {
        margin-bottom: 10px;
      }

      
      /* #INTJ img, #INTP img {
        width: 100%;
      } */
    }